*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::after {
    box-sizing: border-box;
}
*::before {
    box-sizing: border-box;
}
ol,ul,dl {
    list-style: none;
}
a {
    color: inherit;
}